$background: #f2f8ff;
$border: #f9f6f1;

.installPopup {
  // position: fixed;
  margin-bottom: 16px;
  position: relative;
  background: $background;
  color: #303030;
  left: 0;
  right:0;
  bottom: 15px;
  display: flex;
  padding: 5px 10px;
  font-size: 12px;
  align-items: center;
  border-radius: 5px;
  padding-bottom: 10px;

  &:after, &:before {
  	top: 100%;
  	left: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }

  &:after {
  	border-color: rgba(136, 183, 213, 0);
  	border-top-color: $background;
  	border-width: 15px;
  	margin-left: -15px;
  }
  &:before {
  	border-color: rgba(194, 225, 245, 0);
  	border-top-color: $border;
  	border-width: 16px;
  	margin-left: -16px;
  }
}

.icon1 {
  width: 25px;
  vertical-align: middle;
}

.icon2 {
  height: 30px;
  margin-right: 10px;
}

.left {

}

.right {

}
